name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6

      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      # https://github.com/pnpm/action-setup
      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
